@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=DM+Sans:wght@400;500;600&display=swap");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "DM Sans", sans-serif;
  background-color: #f8f9fa;
  color: #3c4043;
  margin: 0;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.hero-marquee {
  animation: heroMarquee 9s infinite ease-in-out;
}

@keyframes heroMarquee {
  0%, 20% {
    transform: translateY(0%);
  }
  33%, 53% {
    transform: translateY(-100%);
  }
  66%, 86% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
